@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/opensans-semibold-webfont.eot');
    src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibold-webfont.woff') format('woff'),
         url('../font/opensans-semibold-webfont.ttf') format('truetype'),
         url('../font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, h1, h2, ul{padding:0; margin:0; font:13px/1.3 'open_sansregular',Arial, sans-serif;}
body{background: url(../img/bg.png) repeat-x;}
input:focus{outline: 0}
a{color:#006C9B; text-decoration: none}
a:hover{text-decoration: underline;}
.header-mascote,.header-logo, .ico, .rk-one i, .rk-two i, .user_block{background-image:url(../img/sprite.png);}

h1{font: 20px/1.3 'open_sanssemibold'; color:#00A558; margin-bottom: 15px}

.g-980{width: 980px; margin: auto}

.header-bar{height: 26px; background: #006C9B; text-align: right; color:#FFF; font:11px/26px Tahoma, sans-serif;}
	.header-bar a{color:#CCC; text-decoration: none}
	.header-bar a:hover{text-decoration: underline}
.header-mascote{display: block; width: 127px; height: 144px}
.header-cnt{position: relative; margin: 15px auto}
	.header-logo{display: block; width: 273px; height: 58px; position: absolute; left: 167px; top:33px; line-height: 300px; overflow: hidden; background-position: -128px 0}
	.header-nav{position: absolute; top: 111px; left: 167px}
	.header-nav li{display: inline-block;}
	.header-nav a{color:#333; text-decoration: none; position: relative; font:15px/30px 'open_sanssemibold';  padding: 0 5px 10px}
	.header-nav a:after{content: ''; display: block; height: 0px; border-radius: 0; background: #006C9B; position: absolute; bottom: 0; left: 0; right: 0; transition: height 100ms, border-radius 100ms, color 100ms}
	.header-nav a:hover{color: #006C9B}
	.header-nav a:hover:after{height: 6px; border-radius: 6px}


	.inp-text{border:solid 1px #CCC; border-radius: 3px; background: #FFF; font-size: 13px; height: 26px; line-height: 26px; padding: 0 5px; width: 290px; margin-bottom: 15px}
	label{display: block; color: #CCC; margin-bottom: 5px; font-size: 13px}
    select.inp-text{-webkit-appearance:none;; background: #FFF url(../img/bg-select.png) no-repeat center right}
    .inp-text.small{width: 94px}
    .inp-text.valid{background: #FFF url(../img/bg-ok.png) no-repeat center right}
    .inp-text.invalid{border:solid 1px #C00; position: relative;}
    .inp-text.invalid:before{content: 'Usuário já existente'; display: block; font:10px Tahoma, sans-serif; color:#c00; position: absolute; top: 30px; left: 0}

    .bt{font:13px/35px 'open_sanssemibold'; height: 35px; padding: 0 10px; border:0; border-radius: 3px; display: inline-block; cursor: pointer}
	.bt-v{background: #00A658; color:#FFF}
	.bt-c{background: #CCC; color:#333}
	.bt-right{text-align: right; width: 300px; font-size: 0}
		.bt-right .bt{margin:0 0 0 10px}

.regras{line-height: 1.4}
.regras>ol>li{margin-bottom: 10px}
.regras b{font-family: 'open_sanssemibold'; color:#00A658;}
.regras b+br+b{color:#006C9B;}

.table{line-height: 1.3; border:solid 1px #DDD; border-collapse: collapse;}
.table th{font:13px 'open_sanssemibold'; text-align: left; background: #ededed; padding: 3px; color:#333;}
.table td{padding: 3px; font-size: 13px; border:solid 1px #dedede;}
table.table tbody tr:nth-child(odd){
   background-color: #f4f4f4;
}
.table tr td:last-child{text-align: center}

.ico{display: inline-block; vertical-align: middle; line-height: 100px; overflow: hidden}
.ico.excluir{width: 15px; height: 14px; background-position: -149px -61px}
.ico.excluir:hover{background-position: -133px -61px}

.ico.editar{width: 15px; height: 15px; background-position: -134px -76px}
.ico.editar:hover{background-position: -150px -76px}


.message{padding: 10px; background: #9CCDB6; border:solid 1px #00A558; border-radius: 3px; color:#00A558; margin-bottom: 10px}
.message.erro{background: #F0C1B2; border:solid 1px #c30; color:#c30;}


.jg-grupos {overflow: hidden; font-size: 0; text-align: center; position: relative;}
    .jg-grupo{display:inline-block; border:solid 1px #CCC; width: 450px; text-align: center; border-radius: 3px; padding: 0 15px 15px; margin:0 0 15px 0; vertical-align: top}
    .jg-grupo h2{font:20px/40px 'open_sanssemibold'; color:#CCC; text-align: left; text-transform: capitalize;}
    .jg{font-size: 0; text-align: center; color:#333; margin-bottom: 10px; display: block;}
    .jg .inp-text{width: 25px; height: 25px; margin: 0 5px 0 }
    .jg-time span{text-transform: uppercase; width: 120px; text-align: right;vertical-align: middle;}
    .jg-time-fix span{text-align: left;}
    .jg span{display: inline-block;font:13px/25px 'open_sanssemibold';}
    .jg-time i{background-image: url(../img/bandeiras.png);display: inline-block; width: 25px; height: 25px; vertical-align: middle; margin:0 5px;}
    .jg .jg-data{color:#999; font:13px/1.3 'open_sansregular'; display: block; margin-top: 5px}
.jg-grupos .jg-grupo:nth-child(odd){
   margin-right: 15px
}

    .btapostar{height: 25px;line-height: 25px; margin: 5px 0}
/* Bandeiras */
.bd-brasil{background-position: -35px -210px}
.bd-croacia{background-position: -70px -35px}
.bd-mexico{background-position: -140px -245px}
.bd-camaroes{background-position: -245px -280px}
.bd-espanha{background-position:-245px -35px }
.bd-holanda{background-position: -105px -70px}
.bd-chile{background-position: -105px -210px}
.bd-australia{background-position: 0 -420px }
.bd-colombia{background-position: -140px -210px}
.bd-grecia{background-position: -70px -70px}
.bd-costadomarfim{background-position: 0px -315px}
.bd-japao{background-position: -140px -420px}
.bd-uruguai{background-position: -280px -210px}
.bd-costarica{background-position: -35px -245px}
.bd-inglaterra{background-position: -175px -70px}
.bd-italia{background-position: 0px -105px}
.bd-suica{background-position: -280px -140px}
.bd-equador{background-position: -175px -210px}
.bd-franca{background-position: 0px -70px}
.bd-honduras{background-position: -70px -245px}
.bd-argentina{background-position:0px -210px }
.bd-bosniahezergovina{background-position: -280px 0px}
.bd-ira{background-position: -70px -420px}
.bd-nigeria{background-position: -245px -350px}
.bd-alemanha{background-position:-35px 0px }
.bd-portugal{background-position: -70px -140px}
.bd-gana{background-position: -175px -315px}
.bd-estadosunidos{background-position:0px -245px }
.bd-belgica{background-position: -245px 0px}
.bd-argelia{background-position: -70px -280px}
.bd-russia{background-position: -175px -140px}
.bd-coreiadosul{background-position:-35px -420px }

.rk{line-height: 1.4; padding: 0; margin:0; list-style: none}
.rk li{position: relative; padding-left: 40px}
.rk-one i, .rk-two i{position: absolute; display: inline-block; line-height: 150px; overflow: hidden; left: 0; top:0;}
.rk .rk-one{color:#E4B01B; font:25px/51px 'open_sanssemibold'; height: 51px; padding-left: 57px; margin-bottom: 15px}
.rk-one i{width: 47px; height: 51px; background-position: -128px -92px}
.rk .rk-two{color:#838280; font:20px/25px 'open_sanssemibold'; height: 25px; padding-left: 40px; margin-bottom: 15px}
.rk-two i{width: 20px; height: 25px; background-position: -176px -92px; left: 10px;}

footer{background: #00A558; padding: 15px; color:#FFF; margin-top: 60px}
.user_block{display: inline-block; width: 17px; height: 24px; background-position: -176px -59px}
.user_block.off{background-position: -198px -59px}